---
import Layout from "../layouts/Layout.astro";
import heroService from "../services/hero/hero";

const hero = await heroService.getHero();
const { title, description, cover } = hero;
const imageUrl = cover.url;

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Home">
  <main class="h-screen">
    <section class="relative h-full flex items-center">
      <div class="absolute inset-0">
        <img
          src={imageUrl}
          alt={cover.alternativeText}
          class="w-full h-full object-cover"
        />
        <div class="absolute inset-0 bg-black/50"></div>
      </div>
      <div class="max-w-[1200px] mx-auto px-4 relative z-10 text-white">
        <h1 class="text-5xl font-bold mb-4">{title}</h1>
        <p class="text-xl max-w-2xl">{description}</p>
      </div>
    </section>
  </main>
</Layout>
